html, body {
  height: 100%;
}
.Expense{ 
    height: 100px;
    box-sizing: border-box;
    padding: 16px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
    resize: none;
    font-family: sans-serif;
    font-size: 16px;
  }

  .App {
    background-color: #7bc0fc;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    width: 100%;
  }